Repository ionos-cloud/cluster-api-provider-proxmox, pull requests merged in 2025-03, with the labels that each got.

#436 github/workflows: test improvements
  .github/workflows/comment.yml
  .github/workflows/e2e-comment.yml
  .github/workflows/test-external.yml
  .github/workflows/test.yml
Labels: e2e/none

#352 go 1.23
  Dockerfile
  docs/Development.md
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/proxmox/proxmoxtest/mock_client.go
Labels: go/1.23

#441 .github/workflows/{e2e,test}: check out sha instead of ref
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Labels: kind/vulnerability, e2e/none, github_actions

#453 Write docs for the new v0.7 features
  docs/advanced-setups.md
Labels: documentation, e2e/none
